@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    margin: auto;
}

main {
    max-width: 40em;
    margin: auto;
    padding: 0 1em;
}

header {
    background-color: #b7ed8d;
    margin: 0;
    padding: 1em;
}

h1 {
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 1.8em;
}

h2 {
    margin: 0;
}

section {
    text-align: center;
    padding-top: 2em;
}

p {
    padding-bottom: 1em;
    text-align: left;
    padding: 1em;
    padding-top: 0;
}

li {
    list-style-type: none;
}

a {
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.3em 0.5em;
    box-shadow: 0px 1px 3px rgb(162, 162, 162);
    border-radius: 1em;
}

input {
    border-radius: 2em;
    border: none;
    padding: 0.5em 0.6em;
    padding-top: 0.6em;
    box-shadow: 0px 1px 3px #959595;
    background-color: #6fab49;
    font-family: 'Poppins', sans-serif;
}

table {
    border: 1px solid #ced2d6;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

th {
    padding: 1em;
    border: 1px solid #ced2d6;
    font-size: 1.1em;
}

td {
    border: 1px solid #ced2d6;
    padding: 1em;
}

.button {
    color: white;
}

.button:hover {
    background-color: #5e903f;
}

.display {
    padding: 4em;
    margin: auto;
    max-width: 40em;
    text-align: left;
}

.countryName {
    font-size: 1.2em;
}

.date {
    font-size: 1.2em;
}

.map {
    text-align: center;
    padding-top: 2em;
}

.map img {
    width: 100%;
}

.stats { 
    margin-top: 0;
}

#inputValue {
    align-content: center;
    width: 13em;
    box-shadow: 0px 1px 3px #b4b4b4;
    background-color: white;
}